<app-ui-page spacing="dense">
  <a back
     class="back-link"
     routerLink="/family">
    <mat-icon>arrow_back</mat-icon>
    Управление семьёй
  </a>

  <app-personal-diary-heading title
                              [user]="user()" />

  <app-personal-diary-date-filter action
                                  [date]="dateFilter()"
                                  [todayDate]="todayDate" />

  <ng-container body>
    <app-ui-state-container height="420px"
                            [state]="pageState()"
                            [actionError]="refreshError()"
                            [resolved]="resolved"
                            (actionErrorDismissed)="dismissRefreshError()">
      <ng-template #resolved>
        <section class="daily-section">
          <app-diary-nutrient-summary [date]="dateFilter()"
                                      [totals]="dayTotals()"
                                      [mealsCount]="mealViews().length" />

          <app-diary-goal-progress [state]="goalState()"
                                   [goal]="goal()"
                                   [totals]="dayTotals()" />
        </section>

        <app-personal-meals-section [state]="mealsState()"
                                    [userName]="user()!.name"
                                    [mealViews]="mealViews()" />
      </ng-template>
    </app-ui-state-container>
  </ng-container>
</app-ui-page>
